%h2 My Assignments


%table.data
  %tr
    %th Context
    - Suite.browsers.each do |browser|
      %th= browser
  - @release.contexts.each do |context|
    %tr
      %td= link_to context.name, context
      - Suite.browsers.each do |browser|
        - if current_user.assigned?(context, browser)
          %td{style: "background-color: #{colorize context.passed_for(browser, current_user)}"}= context.passed_for(browser, current_user)
        - else
          %td 