/****************************/
/*      G E N E R A L       */
/****************************/
a       { color: #003F87; text-decoration: none; }
a:hover { text-decoration: underline;         }

body {
  color: #333;
  font-family: helvetica, sans-serif;
  background: #ccc;
  margin: 0;
}

input[type=text] {
  width: 30em;
}

.strong{font-weight: bold}

/****************************/
/*       L A Y O U T        */
/****************************/
#Content {
  margin: 0 auto 40px auto;
  width: 980px;
  background: #fff;
  padding: 1em 0 2em 2em;
  border-left: 10px solid #999;
  border-right: 10px solid #999;
  border-bottom: 10px solid #999;
}

#Main {
  padding-left: 10px;
  width: 920px;
}

#Login {
  float: right;
}

#Release {
  font-size: 2em;
}

/****************************/
/*  D A T A   T A B L E S   */
/****************************/
table.data {
	width: 100%;
	border-collapse: collapse;
}

table.data th {
	padding: 6px 4px 6px 8px;
	color: #666;
	text-align: left;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #e6e6e6;
	text-transform: uppercase;
	font-size: 11px;
}

table.data td {
	vertical-align: middle;
	padding: 8px 4px 8px 8px;
	border-bottom: solid 1px #E6E6E6;
	border-right: solid 1px #E6E6E6;
	line-height: 16px;
	text-align: right;
}

table.data td.title {
  text-align: left;
}

table.data td.inactive {
  background-color: #eee;
}

table.data td.clickable {
  cursor: pointer;
}

table.data th.percent {
  width: 7em;
}

/****************************/
/*   B A R   G R A P H      */
/****************************/
table.percentage{
  margin: 0 0 3px 0;
  padding:0;
  background-color: inherit;
}

table.percentage td.graph{
  width: 250px; 
  background-color: #fff; 
  border: 1px solid #999; 
  margin:0;
  padding:0;
  text-align:left;
}
table.percentage td.graph .filled{
  margin:0;padding:0;display:block;
}