/****************************/
/*      G E N E R A L       */
/****************************/
a       { color: #003F87; text-decoration: none; }
a:hover { text-decoration: underline;         }

body {
  color: #333;
  font-family: helvetica, sans-serif;
  background: #ccc;
  margin: 0;
}

input[type=text] {
  width: 30em;
}

/****************************/
/*       L A Y O U T        */
/****************************/
#Content {
  margin: 0 auto 40px auto;
  width: 980px;
  background: #fff;
  padding: 1em 0 2em 2em;
  border-left: 10px solid #999;
  border-right: 10px solid #999;
  border-bottom: 10px solid #999;
}

#Main {
  padding-left: 10px;
  width: 920px;
}

#Login {
  float: right;
}

#Release {
  font-size: 2em;
}


/****************************/
/*   B A R   G R A P H      */
/****************************/
table.percentage{
  margin: 0 0 3px 0;
  padding:0;
  background-color: inherit;
}

table.percentage td.graph{
  width: 250px; 
  background-color: #fff; 
  border: 1px solid #999; 
  margin:0;
  padding:0;
  text-align:left;
}
table.percentage td.graph .filled{
  margin:0;padding:0;display:block;
}