%h1 Current Release
- if @release
  %h2= @release.name
  %p= link_to 'New Context', new_release_context_path(@release)
  - @release.contexts.each do |context|
    %h3= link_to context.name, [@release, context]
- else
  %p
    No current release defined.
    = link_to 'Create one', new_release_path